# opencode
opencode.json
opencode.jsonc
.opencode/

# Blender backups
mechanical/roadster.blend1

# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate

# KiCad local/cache files
*.kicad_prl
*-backups/
fp-info-cache
.history/
*.kicad_sch-bak
*.kicad_pcb-bak
~*.lck

# FreeCAD backups
*.FCBak
